#login-screen .dropdown-menu {
    display: block;
    position: absolute;
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: none;
}


#login-screen #login-dropdown-list {
    display: block;
}


#login-screen a.dropdown-toggle {
    display: none;
}

.abort-game {
    margin-top: 40px;
}