<template name="createUsers">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Add people</h4>
        </div>
        <div class="panel-body">
        {{#autoForm id="afInsertDemo" type="insert" collection="People" schema="PeopleSchema"}}
            {{> afQuickField name="user_id" value=currentUser._id type="hidden"}}
            {{> afQuickField name="firstName"}}
            {{> afQuickField name="color"}}
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Add Person</button>
            <button type="reset" class="btn btn-default">Reset Form</button>
          </div>
        {{/autoForm}}
        </div>
      </div>
      <h2>People List</h2>
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <td>Name</td>
            <td>Color</td>
            <td style="width: 70px"></td>
          </tr>
        </thead>
        <tbody>
          {{#each people}}
            <tr>
              <td>{{firstName}}</td>
              <td>{{color}}</td>
              <td style="width: 70px">{{> quickRemoveButton collection="People" _id=this._id class="btn btn-sm btn-danger"}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>

      <hr>
      <h2>Timer settings</h2>
        <div class="panel-body">
            {{#autoForm id="afTimerSettings" type="update" collection="GameTimer" schema="GameSettingsSchema" doc=gameTimer}}
                {{> afQuickField name="user_id" value=currentUser._id type="hidden"}}
                {{> afQuickField name="timerPerTurn"}}
                {{> afQuickField name="timerPerOverall"}}
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Start game</button>
                <button type="reset" class="btn btn-default">Reset Form</button>
              </div>
            {{/autoForm}}
        </div>


    </div>
</template>