<template name="finish">
    <div class='container-fluid' style="margin-top: 20%;">
        <div class="row">
            <div class="col-xs-12">Game finished</div>
            <button class="btn col-xs-12 btn-primary new" type="button">New</button>
        </div>
    </div>
</template>