<template name="game">
    <div class='container-fluid' style="margin-top: 20%;">
        <div class="row">
            <button class="btn col-xs-12 btn-primary pause" type="button">{{#if isPaused}}Resume{{else}}Pause{{/if}}</button>
            <button class="btn col-xs-12 btn-primary next-player" type="button">Next Player</button>

            <div class="col-xs-12" style="
                margin-top: 20px;
            "></div>

              {{#each people}}
                    <button id="{{_id}}" class="btn {{#if isActivePlayer}}btn-danger{{else}}{{#if isNextPlayer}}btn-warning{{else}}btn-primary{{/if}}{{/if}} col-xs-12 player" type="button" style="color: {{color}};">{{getRemainingTime}} {{firstName}} {{getRemainingGlobalTime}}</button>
              {{/each}}
            <button class="btn col-xs-12 btn-primary abort-game" type="button">Abort</button>
        </div>
    </div>
</template>