<template name="login">
    <div class='container' style="margin-top: 20%;">
        <div class="row">
            <div class="col-xs-12" id="login-screen">
                {{> loginButtons}}
            </div>
        </div>
    </div>
</template>