<template name="menu">
    <div class='container-fluid' style="margin-top: 20%;">
        <div class="row">
            <div class="col-xs-12">Game Timer</div>
            <button class="btn btn-primary col-xs-12 create-game" type="button">Создать игру</button>
        </div>
    </div>
</template>